<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      Amount Collected
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= number_to_currency(@money_collected/100, :unit => "$") %>
    </div>
  </div>
</div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">Name</div>
      <div class="col-md-2">Email</div>
      <div class="col-md-2">Amount Paid</div>
      <div class="col-md-2">Current Due</div>
      <div class="col-md-2">Is Admin</div>
      <div class="col-md-2">Actions</div>
    </div>

    <% @users.each do |user| %>
      <div class="row">
        <div class="col-md-2"><%= user.name %></div>
        <div class="col-md-2"><%= user.email %></div>
        <div class="col-md-2"><%= user.format_paid %></div>
        <div class="col-md-2"><%= user.format_due %></div>
        <div class="col-md-2"><%= user.isadmin? ? "Yes" : "No" %></div>
        <div class="col-md-1"><%= link_to 'Show', user %></div>
        <div class="col-md-1"><%= link_to 'Edit', edit_user_path(user) %></div>
      </div>
    <% end %>
  </div>

<br>

<%= link_to 'New User', new_user_path %>
