<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @user.note %>
</p>


<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Amount Due Today:</strong>
  <%= number_to_currency(@user.due_now/100, :unit => "$") %>
</p>

<p>
  <strong>Total Amount Due:</strong>
  <%= number_to_currency(@user.total_due/100, :unit => "$") %>
</p>

<table>
  <thead>
    <tr class="row">
      <th class="col-md-3">Name</th>
      <th class="col-md-3">Amount</th>
      <th class="col-md-3">Due Date</th>
      <th class="col-md-3">Amount Paid</th>
    </tr>
  </thead>

  <tbody>
    <% @user.orders.sort_by { |order| order.due_date }.each do |order| %>
      <tr class="row">
        <td class="col-md-3"><%= order.name %></td>
        <td class="col-md-3"><%= number_to_currency(order.amount/100, :unit => "$") %></td>
        <td class="col-md-3"><%= order.due_date %></td>
        <td class="col-md-3"><%= number_to_currency(order.amount_paid/100, :unit => "$") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</br>
</br>

  <%= form_tag charges_path, id: "payment_form" do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <h6>Minimum payment: $20</h6>
      <label class="amount">
        $<input type="text" value="<%= @user.due_now/100 %>" id="amount" name="amount"/>
      </label>
      <button id='payButton'>Pay Dues</button>
    </article>
    <article>
      <%= hidden_field_tag(:stripeToken) %>
    </article>

  <% end %>

<script src="https://checkout.stripe.com/checkout.js"></script>

<script>
var handler = StripeCheckout.configure({
  key: '<%= Rails.configuration.stripe[:stripe_publishable_key] %>',
  locale: 'auto',
  name: 'Organ Grinders Dues',
  description: '<%= @user.name %>',
  token: function(token) {
    $('input#stripeToken').val(token.id);
    $('form#payment_form').submit();
  }
});

$('#payButton').on('click', function(e) {
  e.preventDefault();

  $('#error_explanation').html('');

  var amount = $('input#amount').val();
  amount = amount.replace(/\$/g, '').replace(/\,/g, '')

  amount = parseFloat(amount);

  if (isNaN(amount)) {
    $('#error_explanation').html('<p>Please enter a valid amount in USD ($).</p>');
  }
  else if (amount < 20.00) {
    $('#error_explanation').html('<p>Donation amount must be at least $20.</p>');
  }
  else {
    amount = amount * 100; // Needs to be an integer!
    handler.open({
      amount: Math.round(amount),
      email: '<%= @user.email %>'
    })
  }
});
</script>
