<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Amount Due:</strong>
  <%= number_to_currency(@user.total_due/100, :unit => "$") %>
</p>

  <table>
    <thead>
      <tr class="row">
        <th class="col-md-4">Name</th>
        <th class="col-md-4">Amount</th>
        <th class="col-md-4">Due Date</th>
      </tr>
    </thead>

    <tbody>
      <% @user.orders.each do |order| %>
        <tr class="row">
          <td class="col-md-4"><%= order.name %></td>
          <td class="col-md-4"><%= number_to_currency(order.amount/100, :unit => "$") %></td>
          <td class="col-md-4"><%= order.due_date %></td>
      <% end %>
    </tbody>
  </table>

<%= link_to 'Edit', edit_user_path(@user) %> |
