<%= form_for [:admin, @user] do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container-fluid">
    <div class="row">
      <div class="field col-md-12">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="field col-md-12">
        <%= f.label :email %><br>
        <%= f.text_field :email %>
      </div>
      <div class="field col-md-12">
        <%= f.label :address %><br>
        <%= f.text_area :address %>
      </div>
      <div class="field col-md-12">
        <%= f.label :phone %><br>
        <%= f.text_field :phone %>
      </div>
      <div class="field col-md-12">
        <%= f.label :password %><br>
        <%= f.text_field :password %>
      </div>
      <div class="field col-md-12">
        <%= f.label :isadmin %><br>
        <%= f.check_box :isadmin %>
      </div>
      <div class="field col-md-12">
        <%= f.label :active %><br>
        <%= f.check_box :active %>
      </div>
      <div class="field col-md-12">
        <%= f.label :is_spanker %><br>
        <%= f.check_box :is_spanker %>
      </div>
      <div class="field col-md-12">
        <%= f.label :is_dancer %><br>
        <%= f.check_box :is_dancer %>
      </div>
      <div class="actions col-md-12">
        <%= f.submit %>
      </div>
    </div>
  </div>
<% end %>
