<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      Amount Collected
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= number_to_currency(@money_collected/100, :unit => "$") %>
    </div>
  </div>
</div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1">Actions</div>
      <div class="col-md-2">Name</div>
      <div class="col-md-3">Email</div>
      <div class="col-md-1">Overdue</div>
      <div class="col-md-1">Dancer?</div>
      <div class="col-md-1">Spanker?</div>
    </div>

    <% @users.each do |user| %>
      <div class="row">
        <div class="col-md-1"><%= link_to 'Edit', edit_admin_user_path(user) %></div>
        <div class="col-md-2"><%= link_to  user.name, admin_user_path(user) %></div>
        <div class="col-md-3"><%= user.email %></div>
        <div class="col-md-1"><%= number_to_currency(user.overdue/100, :unit => "$") %></div>
        <div class="col-md-1"><%= user.is_dancer? ? "Yes" : "" %></div>
        <div class="col-md-1"><%= user.is_spanker? ? "Yes" : "" %></div>
      </div>
    <% end %>
  </div>

<br>

<%= link_to 'New User', new_user_path %>
